html,body{
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#map-demo{
    height: 100%;
    position: relative;
}
#options-box{
    position: absolute;
    left: 0;
    top: 0;
    background: #fff;
    border: 1px solid #999;
    height: 94%;
    line-height: 35px;
    padding: 10px 10px 30px 10px;
    text-align: left;
    z-index: 200;
    width: 280px;
    overflow-x: hidden;
}
#options-box p{
    margin: 10px 0 0 0;
    font-size: 20px;
    font-weight: bolder;
}
input{
    width: 83%;
    height: 3%;
}
#map-head{
    height: 50px;
    background-color: #333333;
    z-index: 100;
    margin: 0;
}
#map-head p{
    margin: 0;
}
.navbar-toggle.collapsed{
    background-color: #333333;
    color: #121d28;
    border-color: #3f88d4;
    outline: none;
    margin-left: 15px;
    margin-top: 10px;
}
.navbar-toggle{
    height: 30px;
    padding: 9px 1px;
    width: 30px;
    border-radius: 50%;
    position: relative;
    float: left;
    margin: 5px 15px 10px 0;
    border: 1px solid transparent;
}
button{
    -webkit-appearance: button;
    cursor: pointer;
    text-transform: none;
    align-items: flex-start;
    text-align: center;
    font: 400 13.3333px Arial;
}
.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.icon-bar{
    background-color: #3f88d4;
    height: 2px;
    width: 16px;
    display: block;
    border-radius: 1px;
}
.navbar-toggle .icon-bar+.icon-bar{
    margin-top: 2px;
}
ul{
    margin-top: 20px;
}
li{
    list-style: none;
}
#map{
    height: 100%;
    transition: margin-left .5s;
}
#container{
    margin-top: 50px;
    height: 93%;
    transition: margin-left .5s;
}
.closebtn{
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 36px;
    margin-left: 280px;
    color: #333333;
}
a{
    text-decoration: none;
}
@media screen and (max-width: 575px){
    #options-box{
        margin-left: -302px;
    }
    #map{
        margin-left: 0;
    }
    #container{
        margin-left: 0;
    }
}

.info{
    border: solid 1px silver;
}
div.info-top{
    position: relative;
    background: none repeat scroll 0 0 #F9F9F9;
    border-bottom: 1px solid #CCC;
    border-radius: 5px 5px 0 0;
}
div.info-top div{
    display: inline-block;
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    line-height: 31px;
    padding: 0 10px;
}
div.info-top img{
    position: absolute;
    top: 10px;
    right: 10px;
    transition-duration: 0.25s;
}
div.info-top img:hover{
    box-shadow: 0 0 5px #000000;
}
div.info-middle{
    font-size: 12px;
    line-height: 20px;
    text-align: center;
}
div.info-bottom{
    height: 0;
    width: 100%;
    clear: both;
    text-align: center;
}
div.info-bottom img{
    position: relative;
    z-index: 104;
}
span{
    margin-left: 5px;
    font-size: 11px;
}
.info-middle img{
    float: left;
    margin-right: 0;
}